{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
    <div class="content-wrapper">
    <div class="content">
        <!-- Small boxes (Stat box) -->
          <div class="content-header">
              <div class="container-fluid mb-5 mt-3">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-3">
                        <h4 class="m-0 text-center ">Пользователи</h4>
                    </div>
                    <div class="col-sm-4 " >
                        <form action="simple-results.html">
                        <div class="input-group">
                            <input type="search" class="form-control form-control-sm" placeholder="">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-sm btn-success" style="height: 31px">
                                    <h6> Поиск</h6>
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>
              <table class="table text-center table-bordered  "  style="width: 90%">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Дата Регистрации</th>
                          <th>День рождения</th>
                          <th>Почта</th>
                          <th>Телефон</th>
                          <th>Фамилия</th>
                          <th>Имя</th>
                          <th>Псевдоним</th>
                          <th>Изменить</th>
                          <th>Удалить</th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for user in users %}
                        <tr data-widget="expandable-table" aria-expanded="true">

                          <td>{{ user.id }}</td>
                          <td>{{ user.creation_date }}</td>
                          <td>{{ user.birthday }}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.phone_number }}</td>
                          <td>{{ user.last_name }}</td>
                          <td>{{ user.first_name }}</td>
                          <td>{{ user.nickname }}</td>

                            <td><a href="{% url 'update_client' user.id %}"><ion-icon name="pencil-outline" style="width: 30px;height: 30px;"></ion-icon></a></td>
                            <td><a href="{% url 'delete_client' user.id %}"><ion-icon name="trash-outline" style="width: 30px;height: 30px"></ion-icon></a></td>

                        </tr>
                        {% endfor %}

                      </tbody>
              </table>
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    <!-- /.content -->
  </div>

    </div>
  </div>
  <!-- /.content-wrapper -->

{% endblock %}>