{% extends 'kino_app/base.html' %}

{% block content %}
<div class="card mb-3 text-black" style="margin-top: 130px;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" >
        <div class="carousel-item active" >

            <img src="../../static/kino_app/images/banner_cinema.jpg"   class="img-fluid" alt="Responsive image">

            <div class="carousel-caption"style="margin-bottom: -100px;margin-left: -190px; width: 100%;height: 175px; background: rgba(0, 0, 0, 0.8);">
               <h1 class="text-center">Название кинотеатра</h1>
            </div>
        </div>
      </div>
  </div>
  <div class="container-marketing-colo">
      <div class="row">
          <div class="col-lg-2 ">
                <div  class="container" style="background-color: black;width: 100%;height: 600px">
                    <p class="text-center text-white">Контекстная реклама</p>
                </div>
                <h5 >Количество залов 4</h5>
                <div class="container ">
                            <a style="text-decoration: none" href="hall.html">
                            <div style="border-style: solid;border-color: black">
                            Зал 1
                            </div>
                            </a>
                            <a style="text-decoration: none" href="hall.html">
                            <div style="border-style: solid;border-color: black">
                            Зал 2
                            </div>
                            </a>
                            <a style="text-decoration: none" href="hall.html">
                            <div style="border-style: solid;border-color: black">
                            Зал 3
                            </div>
                            </a>
                            <a style="text-decoration: none" href="hall.html">
                            <div style="border-style: solid;border-color: black">
                            Зал 4
                            </div>
                            </a>

                </div>
                <br>
                <h5>Смотрите сегодня</h5>
                <div class="container">
                            <a style="text-decoration: none" href="hall.html">
                            <div style="border-style: solid;border-color: black">
                            Сеанс 1
                            </div>
                            </a>
                            <a style="text-decoration: none" href="hall.html">
                            <div style="border-style: solid;border-color: black">
                            Сеанс 2
                            </div>
                            </a>
                            <a style="text-decoration: none" href="hall.html">
                            <div style="border-style: solid;border-color: black">
                            Сеанс 3
                            </div>
                            </a>
                            <a style="text-decoration: none" href="hall.html">
                            <div style="border-style: solid;border-color: black">
                            Сеанс 4
                            </div>
                            </a>
                            <a style="text-decoration: none" href="hall.html">
                            <div style="border-style: solid;border-color: black">
                            Сеанс 5
                            </div>
                            </a>
                            <a style="text-decoration: none" href="hall.html">
                            <div style="border-style: solid;border-color: black">
                            Сеанс 6
                            </div>
                            </a>
                </div>
                <br>
                <a class="text-black btn btn-outline-success" style="" href=" "><h6>Расписание всех сеансов</h6> </a>

          </div>
          <div class="col-lg-10">
              <div class="card-body" style="margin-bottom: 25px">
                <div class="container-marketing-colo">
                    <div class="row">
                        <div class="col-lg-4">
                             <h3>Оскар</h3>
                             <img src="../../static/kino_app/images/oscar.png" height="100px" width="100px" class="" alt="..." style="margin-left: 125px">
                        </div>
                        <div class="col-lg-3">
                            <a class="text-black btn btn-outline-success" style="" href=" "><h5>Расписание сеансов</h5> </a>

                            <div class=" border rounded bg-dark me-0" style="margin-top: 30px;" >
                                 <a class ='me-1 border rounded  text-white' style="background: red " href="https://uk-ua.facebook.com/"><h8>3D</h8></a>
                                 <a class ='me-1 border rounded  text-white' style="background: green " href="https://twitter.com/?lang=ru"><h8>D-BOX</h8> </a>
                                 <a class ='me-1 border rounded  text-white' style="background: blue " href="https://www.tiktok.com/uk-UA/"><h8>DOLBY-ATMOS</h8></a>
                                 <a class ='me-1 border rounded  text-white' style="background: gold " href="https://web.telegram.org/"><h8>VIP</h8></a>
                            </div>
                        </div>


                    </div>
                </div>

                <p class="card-text">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
                </p>
                <h3 class="text-center">Условия</h3>
                <br>
                <div class="container bg-dark">
                    <div class="row" >
                        <div class="col-lg-3"style="margin-top: 50px;margin-left: 50px;margin-bottom: 50px">
                            <div class="card" style="width: 18rem;">
                              <div class="card-body">
                                <a href="#"> <h5 class="card-title">Card title</h5></a>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3"style="margin-top: 50px;margin-left: 50px;margin-bottom: 50px">
                            <div class="card" style="width: 18rem;">
                              <div class="card-body">
                                <a href="#"> <h5 class="card-title">Card title</h5></a>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3"style="margin-top: 50px;margin-left: 50px;margin-bottom: 50px">
                            <div class="card" style="width: 18rem;">
                              <div class="card-body">
                                <a href="#"> <h5 class="card-title">Card title</h5></a>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3"style="margin-top: 50px;margin-left: 50px;margin-bottom: 50px">
                            <div class="card" style="width: 18rem;">
                              <div class="card-body">
                                <a href="#"> <h5 class="card-title">Card title</h5></a>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3"style="margin-top: 50px;margin-left: 50px;margin-bottom: 50px">
                            <div class="card" style="width: 18rem;">
                              <div class="card-body">
                                <a href="#"> <h5 class="card-title">Card title</h5></a>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
                                </p>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3"style="margin-top: 50px;margin-left: 50px;margin-bottom: 50px">
                            <div class="card" style="width: 18rem;">
                              <div class="card-body">
                                <a href="#"> <h5 class="card-title">Card title</h5></a>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h4 class="text-center">ФОТОГАЛЕРЕЯ</h4>
                <br>
                <div class="album py-2" id="album-carousel">
                      <div id="myCarousel" class="container carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                            <div class="container">
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                            <div class="container">
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                            <div class="container">
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
              </div>
          </div>

      </div>
  </div>
</div>
{% endblock %}