{% extends 'kino_app/base.html' %}

     {% block content %}



          <div class=" album py-5 " style="margin-top: 100px">
            <div class="container-marketing-colo " >
                <div class="row  ">
                    <div class="col-lg-10">
                        <div class="container-marketing-colo">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="container" style="position: relative">
                                        <a href="film_card.html">
                                            <img class="bd-placeholder-img rounded-square" width="300" height="240" src="../../static/kino_app/images/16.jpg" alt="">
                                        </a>
                                    </div>
                                    <a href="card_cinema.html"><h2 class="text-center">Название кинотеатра</h2></a>
                                </div><!-- /.col-lg-4 -->
                            </div><!-- /.row -->
                        </div>
                    </div>
                    <div class="col-lg-2" style="background-color: black">
                        <p>Контекстная реклама</p>
                    </div>

                </div><!-- /.row -->
            </div>
          </div>
    {% endblock %}


