{% extends 'kino_app/base.html' %}

{% block content %}
<div class="card mb-3 text-black" style="margin-top: 130px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" >
        <div class="carousel-item active" >

            <a href="https://www.youtube.com/watch?v=gYBksoY_RDI&t=1173s"> <img src="../../static/kino_app/images/film_banner.jpg"   class="img-fluid" alt="Responsive image"></a>

            <div class="carousel-caption"style="margin-bottom: -100px;margin-left: -190px; width: 100%;height: 175px; background: rgba(0, 0, 0, 0.8);">
               <h1 class="text-center">Название фильма</h1>
            </div>
        </div>
      </div>
    </div>
    <div class="card-body" style="margin-top: -70px" >
        <div class="container-fluid  " style="background-color: lightgray; ">
                  <div class="flex-shrink-0 p-3 bg-light  text-black" style=" width: 230px;margin-left: -15px;border-style: solid ;border-color: black">
                    <a href="#" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                      <span class="fs-5 fw-semibold">Фильтр</span>
                    </a>
                    <ul class="list-unstyled ps-0">
                      <li class="mb-1">
                            <p>Формат:</p>
                            <input type="checkbox" id="3D" name="3D" value="3D">
                            <label for="3D"> 3D</label><br>
                            <input type="checkbox" id="DBOX" name="DBOX" value="DBOX">
                            <label for="DBOX"> DBOX</label><br>
                            <input type="checkbox" id="VIP" name="VIP" value="VIP">
                            <label for="VIP"> VIP</label><br>
                      </li>
                      <hr>
                      <li class="mb-1">
                            <label for="data_release">Дата показа: </label>
                            <input type="date"  id="date_release">
                      </li>
                    </ul>
                  </div>
                  <div class=" album py-5 text-black " style=";margin-left: 15%;margin-top: -350px">
                        <div class="container marketing colo">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="container"width="300" height="240" style="position: relative">
                                        <img class="bd-placeholder-img rounded-square"width="300" height="240"  src="../../static/kino_app/images/16.jpg" alt="">
                                    </div>
                                </div><!-- /.col-lg-4  Image for film-->
                                <div class="col-lg-8">
                                    <div class="container" style="position: relative">
                                        <p class=""> Название фильма,Возрастное ограничение</p>
                                        <div class="container"style="position: relative">
                                                <p class="">Зал 1</p>
                                                <div class="container"style="position: relative">
                                                    <p class=""> Формат</p>
                                                    <div class="row">
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div><div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                    </div>
                                                    <br>
                                                    <p class=""> Формат</p>
                                                    <div class="row">
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div><div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                    </div>
                                                    <br>
                                                    <p class=""> Формат</p>
                                                    <div class="row">
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div><div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                    </div>
                                            </div><!--/Зал 1 end-->
                                            <br>
                                            <p class="">Зал 2</p>
                                                <div class="container"style="position: relative">
                                                    <p class=""> Формат</p>
                                                    <div class="row">
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div><div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                    </div>
                                                    <br>
                                                    <p class=""> Формат</p>
                                                    <div class="row">
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div><div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                    </div>
                                                    <br>
                                                    <p class=""> Формат</p>
                                                    <div class="row">
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div><div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                             <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <a   href="#">Время</a>
                                                            </div>
                                                    </div>
                                            </div><!--/Зал 2 end-->
                                        </div>
                                    </div>
                                </div><!-- /.col-lg-8 Info of film end-->
                            </div><!-- /.row of film-->
                        </div>
                      </div>
                  </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    Красочный психологический триллер от обладателя премии Каннского кинофестиваля и автора “Только Бог простит” с Райаном Гослингом и “Бронсон” с Томом Харди. Начинающая модель переезжает в Лос-Анджелес. На своей первой фотосессии Джесси (Элль Фаннинг) знакомится с работниками фэшн-индустрии: Руби (Джена Мэлоун), Сарой (Эбби Ли) и Джиджи (Белла Хиткот). Вскоре молодая девушка подписывает контракт с модельным агентством. Джесси любят фотографы и обожают дизайнеры, ей завидуют, а ее молодость и красоту боготворят. Но по зубам ли девушке мир вспышек и искусственных эмоций, в котором хищники не щадят своих жертв.
                    Красочный психологический триллер от обладателя премии Каннского кинофестиваля и автора “Только Бог простит” с Райаном Гослингом и “Бронсон” с Томом Харди. Начинающая модель переезжает в Лос-Анджелес. На своей первой фотосессии Джесси (Элль Фаннинг) знакомится с работниками фэшн-индустрии: Руби (Джена Мэлоун), Сарой (Эбби Ли) и Джиджи (Белла Хиткот). Вскоре молодая девушка подписывает контракт с модельным агентством. Джесси любят фотографы и обожают дизайнеры, ей завидуют, а ее молодость и красоту боготворят. Но по зубам ли девушке мир вспышек и искусственных эмоций, в котором хищники не щадят своих жертв.
                    Красочный психологический триллер от обладателя премии Каннского кинофестиваля и автора “Только Бог простит” с Райаном Гослингом и “Бронсон” с Томом Харди. Начинающая модель переезжает в Лос-Анджелес. На своей первой фотосессии Джесси (Элль Фаннинг) знакомится с работниками фэшн-индустрии: Руби (Джена Мэлоун), Сарой (Эбби Ли) и Джиджи (Белла Хиткот). Вскоре молодая девушка подписывает контракт с модельным агентством. Джесси любят фотографы и обожают дизайнеры, ей завидуют, а ее молодость и красоту боготворят. Но по зубам ли девушке мир вспышек и искусственных эмоций, в котором хищники не щадят своих жертв.
                </div>
                <div class="col-lg-4" style="border-style: ridge;border-color: black">
                    <dl>
                            <dt name="year">Год</dd>
                            <dd>2020</dd>
                            <dt name="country">Страна</dt>
                            <dd>Страны</dd>
                            <dt name="genre">Жанр</dt>
                            <dd>Названия жанров</dd>
                            <dt name="operator">Оператор</dt>
                            <dd>Имя оператора</dd>
                            <dt name="compositor">Композитор</dt>
                            <dd>Имя композитора</dd>
                            <dt name="operator">Продюсер</dt>
                            <dd>Имя пролюсера</dd>
                            <dt name="director">Режиссёр</dt>
                            <dd>Имя режисёра</dd>
                            <dt name="writters">Сценарист/dt>
                            <dd>Имя сценариста</dd>
                            <dt name="duration">Бюджет</dt>
                            <dd>Число Бюджета</dd>
                            <dt name="duration">Время</dt>
                            <dd>длительность</dd>
                            <dt name="age_limit">Возраст</dt>
                            <dd>Зрителям старше  ...</dd>

                    </dl>
                </div>
            </div>
            <br>
            <h3 class="text-center">ФОТОГАЛЕРЕЯ</h3>
            <br>
            <div class="row">
                <div class="album py-2" id="album-carousel">
                      <div id="myCarousel" class="container carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                            <div class="container">
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                            <div class="container">
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                            <div class="container">
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div  class="container" style="background-color: black;width: 100%;height: 200px">
              <p class="text-center text-white">Контекстная реклама</p>
        </div>
    </div>

{% endblock %}