{% extends 'kino_app/base.html' %}
{%block content%}
      <div class="album py-2" id="album-carousel" style="margin-top: 117px">
          <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                <div class="container">
                  <div class="carousel-caption">
                    <h1>Кобра кай</h1>
                    <p><a class="btn btn-lg btn-primary" href="#">Подробне...</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                <div class="container">
                  <div class="carousel-caption">
                    <h1>Никто</h1>
                    <p><a class="btn btn-lg btn-primary" href="#">Подробне...</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                <div class="container">
                  <div class="carousel-caption">
                    <h1>Тор повелитель молнии</h1>
                    <p><a class="btn btn-lg btn-primary" href="#">Подробне...</a></p>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

          <p class="fs-3 text-center">Смотрите сегодня, 24 июля</p>
          <div class="container marketing colo">

                <!-- Three columns of text below the carousel -->
              <div class="row">
                  <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-square" width="300" height="240" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                    <h2>Название фильма</h2>
                    <p><a class="btn btn-lg btn-primary" href="#">Купить билет &raquo;</a></p>
                  </div><!-- /.col-lg-4 -->
              </div>

              <hr class="featurette-divider">
              <p class="fs-3 text-center">Смотрите скоро</p>
                <!-- Three columns of text below the carousel -->
              <div class="row">
                <div class="col-lg-4">
                  <svg class="bd-placeholder-img rounded-square" width="300" height="240" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                  <h2>Название фильма</h2>
                  <p><a class="btn btn-lg btn-primary" href="#">Купить билет &raquo;</a></p>
                  <p class="fs-4 text-center">с 1 сентября</p>
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row --><!-- /END THE FEATURETTES -->
              <hr class="featurette-divider">
              <p class="fs-3 text-center">Новости</p>
                <!-- Three columns of text below the carousel -->
              <div class="row text-black">
                <div class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="../../static/kino_app/images/16.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Card title</h5>
                         <p> 10.10.21</p>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                         <a href="page_news.html" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row --><!-- /END THE FEATURETTES -->
              <hr class="featurette-divider">
              <p class="fs-3 text-center">Акции</p>
                <!-- Three columns of text below the carousel -->
              <div class="row text-black">
                <div class="col-lg-4">
                  <div class="card" style="width: 18rem;">
                    <img src="../../static/kino_app/images/16.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Card title</h5>
                         <p> 10.10.21</p>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                         <a href="page_news.html" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row --><!-- /END THE FEATURETTES -->
          <hr>
          </div><!-- /.container -->
          <div  class="container" style="background-color: black;width: 100%;height: 200px">
              <p class="text-center">Контекстная реклама</p>
          </div>
      </div>



{%endblock%}