{% extends 'kino_app/base.html' %}

{% block content %}
<head>
</head>
<main class="form-signin container py-5" style="width: 300px;margin-top: 100px;margin-bottom: 100px">
  <form>
    <h1 class="h3 mb-3 fw-normal text-center">Вход</h1>

    <div class="form-floating text-black">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingEmail">Электронная почта</label>
    </div>
    <br>
    <div class="form-floating text-black">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Пароль</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Запомнить меня
      </label>
    <br>
    <button class="w-100 btn btn-lg btn-success" type="submit">Войти</button>

    </div>
  </form>
    <a  class="w-100 btn btn-lg btn-success" href="register.html">Регистрация</a>
</main>
{% endblock %}
