{% extends 'kino_app/base.html' %}

     {% block content %}



          <div class=" album py-5 " style="margin-top: 100px">
            <div class="container-marketing-colo " >
                <div class="row  ">
                    <div class="col-lg-2" style="background-color: black">
                        <p>Контекстная реклама</p>
                    </div>
                    <div class="col-lg-10">
                        <div class="container-marketing-colo">
                            <div class="row">
                                <div class="col-lg-4">
                                    <p class="fs-4 text-center">с 1 сентября</p>
                                    <div class="container" style="position: relative">
                                        <a href="film_card.html">
                                            <img class="bd-placeholder-img rounded-square" width="300" height="240" src="../../static/kino_app/images/16.jpg" alt="">
                                            <div class="text-block">
                                                <h3>3D</h3>
                                                <h3>2D</h3>
                                                <h3>16+</h3>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="film_card.html"><h2 class="text-center">Название фильма (3D,16+)</h2></a>
                                    <p class="text-center"><a class="btn btn-lg btn-primary"  width="300" height="240" href="#">Купить билет &raquo;</a></p>

                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-4">
                                    <p class="fs-4 text-center">с 1 сентября</p>
                                    <div class="container" style="position: relative">
                                        <a href="film_card.html">
                                            <img class="bd-placeholder-img rounded-square" width="300" height="240" src="../../static/kino_app/images/16.jpg" alt="">
                                            <div class="text-block">
                                                <h3>3D</h3>
                                                <h3>2D</h3>
                                                <h3>16+</h3>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="film_card.html"><h2 class="text-center">Название фильма (3D,16+)</h2></a>
                                    <p class="text-center"><a class="btn btn-lg btn-primary"  width="300" height="240" href="#">Купить билет &raquo;</a></p>

                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-4">
                                    <p class="fs-4 text-center">с 1 сентября</p>
                                    <div class="container" style="position: relative">
                                        <a href="film_card.html">
                                            <img class="bd-placeholder-img rounded-square" width="300" height="240" src="../../static/kino_app/images/16.jpg" alt="">
                                            <div class="text-block">
                                                <h3>3D</h3>
                                                <h3>2D</h3>
                                                <h3>16+</h3>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="film_card.html"><h2 class="text-center">Название фильма (3D,16+)</h2></a>
                                    <p class="text-center"><a class="btn btn-lg btn-primary"  width="300" height="240" href="#">Купить билет &raquo;</a></p>

                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-4">
                                    <p class="fs-4 text-center">с 1 сентября</p>
                                    <div class="container" style="position: relative">
                                        <a href="film_card.html">
                                            <img class="bd-placeholder-img rounded-square" width="300" height="240" src="../../static/kino_app/images/16.jpg" alt="">
                                            <div class="text-block">
                                                <h3>3D</h3>
                                                <h3>2D</h3>
                                                <h3>16+</h3>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="film_card.html"><h2 class="text-center">Название фильма (3D,16+)</h2></a>
                                    <p class="text-center"><a class="btn btn-lg btn-primary"  width="300" height="240" href="#">Купить билет &raquo;</a></p>

                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-4">
                                    <p class="fs-4 text-center">с 1 сентября</p>
                                    <div class="container" style="position: relative">
                                        <a href="film_card.html">
                                            <img class="bd-placeholder-img rounded-square" width="300" height="240" src="../../static/kino_app/images/16.jpg" alt="">
                                            <div class="text-block">
                                                <h3>3D</h3>
                                                <h3>2D</h3>
                                                <h3>16+</h3>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="film_card.html"><h2 class="text-center">Название фильма (3D,16+)</h2></a>
                                    <p class="text-center"><a class="btn btn-lg btn-primary"  width="300" height="240" href="#">Купить билет &raquo;</a></p>

                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-4">
                                    <p class="fs-4 text-center">с 1 сентября</p>
                                    <div class="container" style="position: relative">
                                        <a href="film_card.html">
                                            <img class="bd-placeholder-img rounded-square" width="300" height="240" src="../../static/kino_app/images/16.jpg" alt="">
                                            <div class="text-block">
                                                <h3>3D</h3>
                                                <h3>2D</h3>
                                                <h3>16+</h3>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="film_card.html"><h2 class="text-center">Название фильма (3D,16+)</h2></a>
                                    <p class="text-center"><a class="btn btn-lg btn-primary"  width="300" height="240" href="#">Купить билет &raquo;</a></p>

                                </div><!-- /.col-lg-4 -->
                            </div><!-- /.row -->
                        </div>
                    </div>

                </div><!-- /.row -->
            </div>
          </div>
    {% endblock %}



