{% extends 'kino_app/base.html' %}

     {% block content %}



          <div class=" album py-5 bg-dark text-black" style="margin-top: 150px">
            <div class="container-marketing-colo">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="container-marketing-colo">
                            <div class="row">
                                <div class="col-lg-4" style="margin-bottom: 50px;">
                                    <div class="card" style="width: 18rem;">
                                       <img src="../../static/kino_app/images/16.jpg" class="card-img-top" alt="...">
                                       <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p> 10.10.21</p>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="page_stock.html" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-4" style="margin-bottom: 50px;">
                                    <div class="card" style="width: 18rem;">
                                       <img src="../../static/kino_app/images/16.jpg" class="card-img-top" alt="...">
                                       <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p> 10.10.21</p>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-4" style="margin-bottom: 50px;">
                                    <div class="card" style="width: 18rem;">
                                       <img src="../../static/kino_app/images/16.jpg" class="card-img-top" alt="...">
                                       <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                         <p> 10.10.21</p>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                </div><!-- /.col-lg-4 -->
                            </div><!-- /.row -->
                        </div>
                    </div>
                    <div class="col-lg-2" style="background-color: black">
                        <p class="text-center text-white">Контекстная реклама</p>
                    </div>
                </div><!-- /.row -->
            </div>
          </div>
    {% endblock %}
